@media (min-width: 60em){
    .entry-meta .edit-link {
        float: right;
    }
}

ion-icon {
    padding-right: 2px;
    position: relative;
    top: 2px;
}

.entry-meta span {
    display: inline-block;
    padding-right: 4px;
}
.entry-meta .posted-on,
.entry-footer .tags-links {
    padding-right: 10px;
}

.entry-meta time {
    padding-left: 2px;
}