.widget-area {
    position: relative;
}

.widget-area {
    padding: 20px 0;
}

@media (min-width:40em) {
    #secondary {
        width: 100%;
        max-width: 25%;
    }
}

.widget-area ul {
    padding-left: 0;
    margin-left: 0;
}

.widget-area .widget .tagcloud a {
    margin: 0 3px 5px 0;
}

.widget-area .widget .tagcloud a {
    color: #666;
    border: 1px solid #a7a6a6;
    padding: 0 15px;
    line-height: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.widget-area .widget .tagcloud a:hover {
    border-color: #9d9d9d;
    background-color: #9d9d9d;
}

.widget-area .widget_tag_cloud {
    border: 0;
}

.widget {
    margin: 0 0 2.5em;
    border-bottom: 1px solid #e3e3e3;
}

.widget h2 {
    font-size: 16px;
    line-height: 22px;
}

.widget ul {
    list-style: none;
}

.widget ul a {
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.widget>ul {
    margin-left: 0;
}

.widget select {
    max-width: 100%;
}

@media (min-width:40em) and (max-width:60em) {
    .widget input {
        max-width: 60%;
    }
}

.widget.widget_search {
    border-bottom: 0;
}

@media (min-width:80em) {
    .widget #searchform {
        width: 100%;
    }
}

.widget #searchform input[type="search"] {
    background-color: transparent;
    font-family: inherit;
    width: 82.5%;
    float: left;
    box-sizing: border-box;
}

.widget #searchform input[type="search"],
.widget #searchform #searchsubmit {
    height: 45px;
}